* {

    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: #FFF8F3;
    margin-top: 0px;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* navigation and heading style*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
    font-weight: 400;
    font-size: 20px;
    color: #474747;
}

nav ul {
    display: flex;
    align-items: center;

}

.navtitle {

    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    padding: 18px 35px;
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

/* banner style */

.banner {
    display: flex;
    margin: 0px 200px;
    align-items: center;
}

.text-hi {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 5px;
    color: #474747;
}

.text-name {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
    color: #181818;
}

.text-des {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

.contact-btn {
    padding: 18px 23px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    margin-left: 30px;
}

/* about section style */
.about {
    max-width: 1140px;
    margin: 0 auto;
    background: #FFF8F3;
    margin-top: 130px;
    padding: 130px 156px;
    border-radius: 10px;
    text-align: center;
}

.about-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}


.about-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;

}

.aboutinfo {
    display: flex;
    justify-content: space-around;
}



.about-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do section style */

.what-i-do {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;

}

.what-i-do>h2 {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    text-align: center;
    margin-bottom: 30px;

}

.what-i-do-description {
    font-weight: 400;
    max-width: 909px;
    font-size: 18px;
    margin-bottom: 50px;
    color: #757575;
}

/* skill container style */
.skil-container {
    display: flex;
    margin-top: 50px;
    gap: 24px;
}

.skill {
    max-width: 267px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 33px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.skill img {
    margin-bottom: 30px;
}

/* resume section style */
.resume h2 {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin: 130px 0px;
}




.resume-container {
    display: flex;
    gap: 24px;
    max-width: 1140px;
    margin: 10px 230px;
    justify-content: center;
    margin: 0 auto;


}

.resume-item {
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 10px;

}

.resume-subtitle {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}


.resume-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* cv dowbnload button style */
.center {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* footer section style */

footer {
    width: 100%;
    display: flex;
    gap: 117px;
    background: #FFF8F3;
   justify-content: center;
    padding: 130px 0px;
    margin: 0 auto;
    margin-top: 113px;

}

.connect-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 25px;
}

.connect-description{
    font-weight: 400;
font-size: 16px;
color: #474747;
margin-bottom: 30px;
max-width: 562px;
}
.social img{
    width: 24px;
    margin-right: 24px;
}

.contact-form input[type='text'], .contact-form input[type='email']{
    width: 450px;
    padding: 18px;
    margin-bottom: 10px;
    border: none;
    outline: none;
}
.contact-form textarea{
    width: 450px;
    padding: 18px;
    border: none;
    outline: none;
    margin-bottom: 24px;
}
.contact-form input[type='submit']{
    padding: 18px 35px;
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

